.newGoals-form{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    width: 60%;
    height: 5rem;
}

.newGoals-input{

}

.newGoals-btn{
    width: 20%;
   margin-left: 80%;
    
}

.GoalsList-fullpage{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    width: 60%;
}



